/* Contact page styles */
.contact {
    max-width: 700px;
    margin: 70px auto;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.contact-form {
    width: 700px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.contact h2 {
    text-align: center;
    color: #212388;
    font-size: 28px;
    margin-bottom: 20px;
    font-weight: bold;
}

/* Label styles */
.contact-label {
    display: block;
    margin: 0 auto;
    margin-bottom: 8px;
    font-size: 18px;
    color: #333;
    font-weight: bold;
}

/* Input and textarea styles */
.contact-input,
.contact-textarea {
    width: 90%;
    padding: 12px;
    margin: 0 auto 16px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: #fff;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.contact-input:focus,
.contact-textarea:focus {
    border-color: #212388;
    box-shadow: 0 0 5px rgba(33, 35, 136, 0.5);
    outline: none;
}

/* Textarea height adjustment */
.contact-textarea {
    height: 120px;
    resize: vertical;
}

/* Submit button styles */
.contact-submit {
    display: block;
    width: 90%;
    padding: 12px;
    background-color: #212388;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s;
    margin-top: 10px;
}

.contact-submit:hover {
    background-color: #161762;
}

/* Responsive design */
@media (max-width: 768px) {
    .contact {
        padding: 15px;
    }

    .contact h2 {
        font-size: 24px;
    }

    .contact-label {
        font-size: 16px;
    }

    .contact-input,
    .contact-textarea {
        font-size: 14px;
    }

    .contact-submit {
        font-size: 16px;
    }
}
